# Часть 1: Отправка выгрузки с номерами телефонов и e-mail пользователей

In [1]:
import pandas as pd

In [2]:
# Выгрузка BI
df1 = pd.read_excel('/Users/bashir/Desktop/НТУ/Валидация КОС/ГЗ_2_03 Выгрузка sessions.xlsx', skiprows=2)
df2 = pd.read_excel('/Users/bashir/Desktop/НТУ/Валидация КОС/ГЗ_2_04 Выгрузка user.xlsx', skiprows=2)

In [3]:
df1 = df1[df1['task id'] == 18629]
df2 = df2.rename(columns={'id':'user id'})

In [4]:
df = pd.merge(df1, df2, on='user id', how='left')

In [5]:
df = df[['id', 'phone', 'email']]
df.head()

        id         phone                     email
0  1559183  9.055356e+09     elenaa_igorevna@bk.ru
1  1559308  9.264825e+09  siberiaangarsk@yandex.ru
2  1559331  9.264991e+09        syuzannamv@mail.ru
3  1559417  9.672172e+09            barca@inbox.ru
4  1560884  9.036111e+09             d7373@mail.ru

In [6]:
# Установите дату выгрузки для заказчика
df.to_excel('/Users/bashir/Desktop/НТУ/Валидация КОС/Пользователи КОС 27.02.test.xlsx')

In [7]:
# Установите дату выгрузки для заказчика
df[['phone', 'email']].to_excel('/Users/bashir/Desktop/НТУ/Валидация КОС/Пользователи КОС 27.02.xlsx', index=False)

# Часть 2: Получение выгрузки с номерами телефонов и e-mail пользователей от заказчика и обновление сессиий

In [8]:
# Файл заказчика
client_report = pd.read_excel('/Users/bashir/Downloads/Telegram Desktop/Пользователи КОС 27.02 впр.xlsx')

In [9]:
df = pd.read_excel('/Users/bashir/Desktop/НТУ/Валидация КОС/Пользователи КОС 27.02.test.xlsx')

In [10]:
update_sessions = pd.merge(df, client_report, on='phone', how='left')[['id', 'Валидация']]

In [11]:
update_sessions = update_sessions.dropna(subset='Валидация')

In [12]:
update_sessions['Валидация'] = update_sessions['Валидация'].astype(int)

In [13]:
def set_status(data):
    if data == 1:
        return 'taskCompleted'
    if data == 0:
        return 'taskNotCompleted'

In [14]:
update_sessions['status'] = update_sessions['Валидация'].apply(set_status)

In [15]:
update_sessions.head()

        id  Валидация            status
0  1559183          0  taskNotCompleted
1  1559308          0  taskNotCompleted
2  1559331          1     taskCompleted
3  1559417          1     taskCompleted
4  1560884          0  taskNotCompleted

In [16]:
update_sessions[['id', 'status']].to_excel('/Users/bashir/Desktop/НТУ/Валидация КОС/Обновление сессий 27.02.xlsx', index=False, header=None)